<head>
    <style> body { margin: 0; } </style>
  
    <script src="force-graph.min.js"></script>
  </head>
  
  <body>
    <form name="form" style="position: absolute; z-index: 100;">
      Paste link to artist or their spotify URI
      <input type="text" name="artist" value="spotify:artist:0Wi2fADbhwXlPUWxBmzo99">
      depth<input type="number" name="depth" value="1">
      <input id="submit" type="button" value="( ノ ^o^)ノ">
    </form>
    
    <div id="graph"></div>
    
    <script src="requestGraph.js"></script>
  </body>
  